.venv/
__pycache__/
token.txt
app/node_modules/
app/ios/App/Pods/
app/ios/App/App/public/
app/ios/App/App/capacitor.config.json
app/android/app/src/main/assets/
app/android/.gradle/
app/android/build/
app/android/app/build/
app/android/local.properties
